/* alert style */
.custom-alert {
    position: fixed;
    z-index: 999999;
    bottom: calc(10vh);
    max-width: calc(70vw);
    min-width: calc(20vw);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.alert-success {
    color: #d4edda;
    background-color: #23933d;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #f8d7da;
    background-color: #c22f3d;
    border-color: #f5c6cb;
}
